.search-bar{
    width: 80%;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 20px;
    border: 1px solid black;
    margin-left: 10px;
}
.search-button{
    display: flex;
    flex-wrap: wrap;
}
.popularity{
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;
    width: 70px;
}
.all{
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;
    width: 70px;
}
.cuisines{
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;
    width: 70px;
}
.calory{
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;
    width: 70px;
}
.category{
    align-items: center;
}
