.profile-picture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.profile-picture:hover{
    transform: scale(1.1);
}
.user-information{
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}
.recipes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.recipe{
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
}
.recipe img{
    width: 100%;
    height: auto;
}
