.scraped-recipes {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    flex: 0 0 auto;
    cursor: pointer;
    margin-top: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.scraped-recipes:hover {
    transform: scale(1.05);
}

.scraped-recipes img {
    width: 200px;
    border-radius: 8px;
    height: 200px;
}

.scraped-recipes h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
