body{
    height: 100%;
}
.user-recommendation-page {
    background-image: url('./profile-set-up-background.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
}

.profile-setup {
    max-width: 800px;
    height: max-content;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 10px 30px rgba(0, 0, 0, 0.1);
}

.profile-name{
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.cooking-level,
.dietary-preferences,
.favorite-foods {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

select,
.favorite-food
 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.dietary-preference {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.dietary-preference label {
    background-color: #f0f0f0;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.dietary-preference label:hover {
    background-color: #fff;
}

.dietary-preference input[type="checkbox"] {
    margin-right: 8px;
}

.favorite-foods {
    margin-bottom: 20px;
}

.favorite-food {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.favorite-food-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.favorite-food-item input {
    flex-grow: 1;
    margin-right: 10px;
}


.delete-can {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    width: 25px;
}

.delete-can:hover {
    opacity: 1;
}

.add-favorite-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.profile-setup button[type="submit"] {
    background-color: #2196f3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.profile-setup button[type="submit"]:hover {
    background-color: #1e87db;
}

.loading-spinner {
    display: inline-block;
    margin-left: 10px;
}

@media(max-width: 600px) {
    .profile-setup {
        padding: 15px;
    }

    .dietary-preference label,
    .favorite-food-item {
        width: 100%;
    }
}
